<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Acxel Morales</mat-card-title>
        <mat-card-subtitle>Administrator</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image
        src="https://3.bp.blogspot.com/-88UzTI4wuhs/Wn7LzvcX-nI/AAAAAAAAMZY/dnCYx0PzuIspAtvKOGzd-efjlO_tBmqUACLcBGAs/s1600/angular_firebase.png"
        alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            Use the button on the upper right to add an item to the database in Firebase so you can show your records.
            This project is done with Angular 8 - Angular Material and Firebase 💚💥
        </p>
    </mat-card-content>
</mat-card>
