<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>
            <mat-icon style="margin-right: .3rem; margin-left: 1.7rem;">account_balance</mat-icon>
            Customers
        </span>
        <button
            matTooltip="Add customer"
            mat-icon-button aria-label="Add customer"
            color="accent"
            style="margin-right: 1.6rem;"
            (click)="onCreate()">
            <mat-icon style="color: white;">add</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
